* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #a9a9a92b;
	font-size: 1em !important;
	font-family: 'Exo 2' !important;
}

.contant {
	flex: 1;
	display: flex;
}

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* [src=''] {
	visibility: hidden;
} */

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.gap {
	gap: 10px;
}

.padding {
	padding: 10px;
}

.folder {
	display: flex;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: palegoldenrod;
}

a,
a:hover {
	color: #000;
	text-decoration: none;
}

.file {
	background-color: #00ffff54;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	background-color: rgb(66, 225, 74);
	border: none;
	cursor: pointer;
}
