{{define "header"}}

<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<header>
    <div class="row gap">
        <span>Main</span>
        <span>Upload</span>
        <span>Profile</span>
    </div>
</header>

<style>
    header {
        background-color: #7d559f7a;
        padding: 10px;
    }
</style>
{{end}}