<html>

<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link href="/static/style.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
    integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="column gap">

    <div class="row gap">
        <div class="column gap" style="border-radius: 10px; padding: 10px; background-color: darkgrey;">
            <button id="create_folder_btn" class="btn">Create folder</button>
            <input id="create_folder_name" type="text">
        </div>
        <div class="column gap" style="border-radius: 10px; padding: 10px; background-color: darkgrey;">
            <button id="upload_btn" class="btn">Upload</button>
            <input id="upload_files" type="file" multiple>
        </div>
    </div>

    {{range $name, $url := .Folders}}
    <a href="/{{$url}}">
        <div class="folder">
            📁 {{$name}}
        </div>
    </a>
    {{end}}

    {{range $name, $url := .Files}}
    <a href="/films/{{$url}}">
        <div class="file">
            📄 {{$name}}
        </div>
    </a>
    {{end}}
</div>

<script defer>
    window.onload = async function () {
        let createFolderBtn = document.getElementById('create_folder_btn')
        let createFolderName = document.getElementById('create_folder_name')
        let uploadBtn = document.getElementById('upload_btn')
        let uploadFiles = document.getElementById('upload_files')

        createFolderBtn.addEventListener("click", () => {
            fetch("/folder/create", {
                method: "POST",
                body: JSON.stringify({
                    folder: `${window.location.pathname}/${createFolderName.value}`
                })
            }).then((res) => {
                console.log(res.status)
            })
        })

        uploadBtn.addEventListener("click", () => {
            if (uploadFiles.files.length == 0) return
            let formData = new FormData()
            formData.append('folder', window.location.pathname)
            for (const file of uploadFiles.files) {
                formData.append('files', file, file.name)
            }
            axios.request({
                method: "post",
                url: "/folder/upload",
                data: formData,
                onUploadProgress: (p) => {
                    console.log(p)
                    uploadBtn.textContent = `Upload ${(p.progress * 100).toFixed(0)}%`
                }
            }).then(data => {
                console.log(data)
            }).catch((err) => {
                alert(err.response.data)
            })

        })
    }
</script>



</html>