<html>

{{template "header" .}}

<div class="contant row gap" style="padding: 10px;">
    {{range $video := .Videos}}

    <div class="column gap film-block">
        <img style="aspect-ratio: 1 / 1; width: 100px;" src="/static/images/img-prel-2.png" />
        <a href="/video/{{$video.Id}}">
            <span>{{$video.Name}}</span>
        </a>
    </div>
    {{end}}
</div>

<style>
    .film-block {
        width: 100px;
        height: 150px;
        background-color: #7d559f7a;
        border-radius: 10px;
        padding: 10px;
        align-items: center;
    }
</style>

{{template "footer" .}}

</html>