<html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
    integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="/static/styles/upload.css" rel="stylesheet" />

{{template "header" .}}

<div class="contant row" style="width: 100%;">
    <div class="column gap padding" style="flex: 1;">
        <div id="load_image_block" class="box">
            <div onclick="document.getElementById('upload_files').click()">
                <div class="column gap">
                    <img class="image" style="width: 100px;" src="/static/images/img-preloader.png" alt="">
                    <span style="font-size: 1.2em; color: #ffffff;">Нажмите, чтобы загрузить файл</span>
                </div>
            </div>
        </div>
        <div id="image_loaded_block" class="column gap" style="display: none;">
            <div id="files" class="row gap files">
                <!-- <div class="add_item_block">
                    <img style="aspect-ratio: 1 / 1; width: 60px;" src="/static/img-preloader.png" />
                </div> -->
            </div>
            <input id="upload_files" type="file" multiple style="display: none;">
        </div>
    </div>
    <div class="column gap padding" style="width: 250px; background-color: #7c559f;">
        <span style="color: #fff;">Файлов: <span id="file_count">0</span> шт.</span>
        <span id="upload_btn" class="btn_send">Загрузить</span>
    </div>
</div>

{{template "footer" .}}

<script defer>
    window.onload = async function () {
        const elemLoadImageBlock = document.getElementById('load_image_block')
        const elemImageLoadedBlock = document.getElementById('image_loaded_block')
        const elemUploadFiles = document.getElementById('upload_files')
        const elemUploadBtn = document.getElementById('upload_btn')
        const elemFiles = document.getElementById('files')
        const elemFileCount = document.getElementById('file_count')

        let filesInPage = []

        elemUploadFiles.addEventListener('change', function (e) {
            elemLoadImageBlock.style.display = "none"
            elemImageLoadedBlock.style.display = "flex"
            document.querySelectorAll(".file_item").forEach(el => el.remove())
            filesInPage = Array.from(e.target.files)
            elemFileCount.textContent = filesInPage.length
            for (let i = 0; i < filesInPage.length; i++) {
                const name = e.target.files[i].name.split(".")[0].replace(/[^a-zA-Zа-яА-Я0-9 -]/g, '')
                const { div, imgFile } = createUploadCard(i, name, function () {
                    const index = filesInPage.findIndex(v => v.i == i)
                    filesInPage.splice(index, 1)
                    div.remove()
                    console.log(filesInPage)
                    elemFileCount.textContent = filesInPage.length
                    if (filesInPage.length == 0) {
                        elemLoadImageBlock.style.display = 'flex'
                        elemImageLoadedBlock.style.display = 'none'
                        elemUploadFiles.value = ''
                    }
                })
                filesInPage[i].i = i
                filesInPage[i].imgFile = imgFile
                elemFiles.prepend(div)
            }
        })

        elemUploadBtn.addEventListener("click", function (e) {
            for (const file of filesInPage) {
                let formData = new FormData()
                formData.append('name', document.getElementById(`file_item_name_${file.i}`).value)
                formData.append('film', file, file.name)
                if (file.imgFile.files.length == 1) {
                    formData.append('preview', file.imgFile.files[0], file.imgFile.files[0].name)
                }
                axios.request({
                    method: "POST",
                    url: "/upload",
                    data: formData,
                    onUploadProgress: (p) => {
                        let progress = document.getElementById(`file_item_progress_${file.i}`)
                        progress.textContent = `Загрузка ${(p.progress * 100).toFixed(0)}%`
                    }
                }).then(data => {
                    let progress = document.getElementById(`file_item_progress_${file.i}`)
                    if (data.status == 201) {
                        progress.textContent = 'Загружено'
                    } else {
                        progress.textContent = 'Ошибка'
                    }
                }).catch((err) => {
                    alert(err.response.data)
                })
            }
        })
    }
</script>

</html>